<form action="" class="form-login">

  <div class="login-container">
    <h1>Login</h1>
    <div class="form-login-control">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="" placeholder="email@example" />
    </div>
    <div class="form-login-control">
      <label for="password">Senha</label>
      <input
        type="password"
        name="password"
        id=""
        placeholder="digite a senha"
      />
    </div>
    <input type="submit" value="login" />
    <p>não tem cadastro clique <a href="/register">aqui!</a></p>
  </div>

</form>