* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(16, 99, 120);
}

.navbar h1 {
    color: rgb(255, 255, 255);
}

.navbar input {
    width: 50%;
    margin-left: 10%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-align: center;
}

.navbar input::placeholder {
    padding: 10px;
    font-size: 20px;
}

.navbar button {
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background-color: white;

}

.navbar button:hover {
    background-color: rgb(38, 127, 97);
    color: white;
    transition: .5s ease;
}

.navbar img {
    margin-left: 100px;
}

.navbar p {
    margin-left: 5px;
    color: white;
}

/* produtos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {

    width: 200px;
    height: 250px;
    margin-top: 30px;
    border: 1px solid rgb(195, 191, 191);
    border-radius: 5px;
    margin-left: 5px;
}

.card img {
    width: 70px;
    margin-left: 30%;
    margin-top: 10%;

}

.card #price {
    text-align: center;
    margin-top: 20px;
}

.card p {
    text-align: center;
    font-size: 12px;
}

.card button {
    margin-left: 30%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: rgb(7, 136, 132);
    font-weight: bold;
    background-color: transparent;
    border: 1px solid rgb(197, 195, 195);
}

.card button:hover {
    background-color: rgb(7, 136, 132);
    color: white;
    transition: .5s ease;
}

/* formulário */
.form-container {
    margin-left: 30%;
    margin-top: 10%;
}

.form-control input {
    width: 20%;
    padding: 10px;
}

.form-control label {
    display: block;
    padding: 5px;
}

.table {
    padding-top: 30px;
}

/* formulário de login */
.form-login {
    margin-top: 20vh;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 320px;
    background-color: rgb(7, 136, 132);
    margin: 0 auto;
    border-radius: 10px;
}

.login-container h1 {
    padding-top: 20px;
    color: white;
}

.form-login-control {
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.form-login-control label {
    display: block;
}

.form-login-control input {
    padding: 10px;
    border-radius: 5px;
}

.login-container input[type='submit'] {
    padding: 10px;
    width: 185px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background-color: white;
}




.login-container p {
    padding-top: 15px;
}

.login-container a {
    text-decoration: none;
}

/* formulário de registro */
.form-register {
    margin-top: 15vh;
    color: white;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 450px;
    background-color: rgb(7, 136, 132);
    margin: 0 auto;
    border-radius: 10px;
}

.register-container h1 {
    padding-top: 20px;
    color: white;
}

.form-register-control {
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.form-register-control label {
    display: block;
}

.form-register-control input {
    padding: 10px;
    border-radius: 5px;
}

.register-container input[type='submit'] {
    padding: 10px;
    width: 185px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background-color: white;
}


.register-container p {
    padding-top: 15px;
}

.register-container a {
    text-decoration: none;
}