<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Market</title>
  </head>
  <body>

    <div class="navbar">
      <h1>Shopper</h1>
      <input type="text" placeholder="O que você procura?" />
      <button>Buscar</button>
      <img src="https://img.icons8.com/fluency/48/000000/shopping-cart.png" />
      <p>0</p>
    </div>
  </body>
  {{{body}}}
</html>